# pandas

In [20]:
import pandas as pd

### I. Series = 1-dimensional

In [21]:
manufacturers = pd.Series(["BMW", "Toyota", "Honda"])
colours = pd.Series(["Red", "Blue", "White"])

colours

0      Red
1     Blue
2    White
dtype: object

### II. DataFrame = 2-dimensional

In [22]:
car_data = pd.DataFrame({"Car manufacturers": manufacturers, "Colours": colours})

car_data

  Car manufacturers Colours
0               BMW     Red
1            Toyota    Blue
2             Honda   White

#### DataFrame - import data (csv)

In [23]:
car_sales = pd.read_csv("./data/car-sales.csv")

car_sales

     Make Colour  Odometer  Doors    Price
0  Toyota  White    150043      4   $4,000
1   Honda    Red     87899      4   $5,000
2  Toyota   Blue     32549      3   $7,000
3     BMW  Black     11179      5  $22,000
4  Nissan  White    213095      4   $3,500
5  Toyota  Green     99213      4   $4,500
6   Honda   Blue     45698      4   $7,500
7   Honda   Blue     54738      4   $7,000
8  Toyota  White     60000      4   $6,250
9  Nissan  White     31600      4   $9,700

#### DataFrame - export data

In [24]:
car_sales.to_csv("./export/exported-car-sales.csv", index=False)
# use index=False to avoid unnamed first column

car_sales.to_json("./export/exported-car-sales.json")

exported_car_sales = pd.read_json("./export/exported-car-sales.json")
exported_car_sales

     Make Colour  Odometer  Doors    Price
0  Toyota  White    150043      4   $4,000
1   Honda    Red     87899      4   $5,000
2  Toyota   Blue     32549      3   $7,000
3     BMW  Black     11179      5  $22,000
4  Nissan  White    213095      4   $3,500
5  Toyota  Green     99213      4   $4,500
6   Honda   Blue     45698      4   $7,500
7   Honda   Blue     54738      4   $7,000
8  Toyota  White     60000      4   $6,250
9  Nissan  White     31600      4   $9,700